/* Styles for popup.html */
body {
  overflow: hidden;
  width: 410px;
  /* height: 310px;  /* keep this correct for the window-based (non-button) version */
  padding: 0px;
  margin: 0px;
  margin-top: 1px;
  background-color: #fff;
  border: 1px solid #AFBCC8;
  -webkit-border-radius: 6px;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


#banner {
  font-size: 17px;
  font-weight: 800;
  background-color:#f2f2f2;
  padding: 10px 14px 8px;
  color: #2D51A3;
  text-transform: uppercase;
  text-shadow: 0px 1px #fff;
  border-bottom: 1px solid #E5E5E5;
  -webkit-box-shadow: inset 0px -1px rgba(0,0,0,0.1);
  -webkit-border-radius: 5px 5px 0px 0px;

}

#content {
  padding: 10px 14px;
  width: 100%;
}

#error {
  width: 100%;
  padding: 10px 14px;
  background-color: #434C56;
  font-weight: 500;
  color: #ECF0F3;
}
.error-icon {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 19px;
  min-width: 19px;
  height: 16px;
  min-height: 16px;
  margin-bottom: -2px;
  display: inline-block;

}


#add_view {
  padding-bottom: 12px;
}

.form {
  border: 0;
  margin: 0;
  padding: 0;
}
.field-name {
  width: 80px;
  padding: 6px 2px 2px 0px;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  
}
.field-value {
    width: 294px;
    padding: 2px 0 2px 2px;
    vertical-align: top;
}
#name {
    width: 100%;
}
#comments {
    width: 100%;
    height: 100px;
}
#add_button {
    margin-top: 10px;
}

#login_view {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    width: 382px;
}
#success_view {
    padding-top: 20px;
    text-align: center;
    font-weight: 600;
    width: 382px;
    
}

#timelog_response{
  padding:5px;
  background:#f6f7f8;
  margin:25px 0 25px 0;
}
.success-icon {
  background-image: url(sprite.png);
  background-position: 0px -50px;
  background-repeat: no-repeat;
  width: 19px;
  min-width: 19px;
  height: 16px;
  min-height: 16px;
  margin-bottom: -2px;
  display: inline-block;

}
input, textarea {
  -webkit-border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  color: #212F40;
  padding: 4px 5px 3px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1), 0px 1px #fff;
}
select, input, textarea {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #212F40;
}

select#project_id, select#tasks_id {
    width:285px;
}